.home{
    font-weight:bold;
    font-size:xx-large;
    min-height: 400px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;}

.text{
    color: deeppink;
}
img{
    height:20%;
    width: 30%;
    border-radius: 12px;}